<section class="article" id="article">
  <div class="container article-container">
    <div class="article-text-container">
      <h2 class="article-title">
        Welcome to Booksy - your cozy corner for handpicked reads.
      </h2>
      <p class="article-text">
        We believe books are more than just stories — they&apos;re companions,
        doorways, and memories. Whether you&apos;re chasing adventures or quiet
        moments, we&apos;re here to help you find your next favorite book.
      </p>
    </div>
    <img
      class="article-img"
      src="/img/article/article-bookstore-interior1x.jpg"
      srcset="
        /img/article/article-bookstore-interior1x.jpg 1x,
        /img/article/article_bookstore-interior2x.jpg 2x
      "
      alt="bookstore interior"
    />
  </div>
</section>
