<section class="article" id="article">
  <div class="container article-container">
    <div class="article-text-container">
      <h2 class="article-title">
        Welcome to Booksy - your cozy corner for handpicked reads.
      </h2>
      <p class="article-text">
        We believe books are more than just stories — they&apos;re companions,
        doorways, and memories. Whether you&apos;re chasing adventures or quiet
        moments, we&apos;re here to help you find your next favorite book.
      </p>
    </div>
    <picture class="article-picture">
      <source
        type="image/webp"
        srcset="
          /img/article/article-descktop@1x.webp 1x,
          /img/article/article-descktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        type="image/jpg"
        srcset="
          /img/article/article-descktop.jpg    1x,
          /img/article/article-descktop@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        type="image/webp"
        srcset="
          /img/article/article-tablet@1x.webp 1x,
          /img/article/article-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        type="image/jpg"
        srcset="
          /img/article/article-tablet.jpg    1x,
          /img/article/article-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        type="image/webp"
        srcset="
          /img/article/article-mobile@1x.webp 1x,
          /img/article/article-mobile@2x.webp 2x
        "
        media="(min-width: 320px)"
      />
      <source
        type="image/jpg"
        srcset="
          /img/article/article-mobile.jpg    1x,
          /img/article/article-mobile@2x.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="article-image"
        src="/img/article/article-descktop.jpg"
        width="640"
        height="474"
        alt="bookstore interior"
        loading="lazy"
      />
    </picture>
    <!-- <img
      class="article-img"
      src="/img/article/article-bookstore-interior1x.jpg"
      srcset="
        /img/article/article-bookstore-interior1x.jpg 1x,
        /img/article/article_bookstore-interior2x.jpg 2x
      "
      alt="bookstore interior"
      loading="lazy"
    /> -->
  </div>
</section>
