<section id="books">
  <div class="container books-container">
    <h2 class="books-hidden">Trending books</h2>

    <div class="books-header-container">
      <div class="books-header">
        <h3 class="books-title">Books</h3>
        <p class="books-shown-quantity"></p>
      </div>

      <div class="categories-dropdown-wrapper">
        <button type="button" class="categories-dropdown-btn">
          <span class="categories-dropdown-text">Categories</span>
          <svg class="categories-dropdown-icon">
            <use href="/img/sprite-opt.svg#icon-lower-corner"></use>
          </svg>
        </button>
        <ul
          class="categories-dropdown-list books-hidden"
          id="books-categories-dropdown-list"
        ></ul>
      </div>

      <div class="desktop-categories-wrapper">
        <ul
          class="books-categories-desktop"
          id="books-categories-desktop-list"
        ></ul>
      </div>
    </div>

    <div class="books-main-content">
      <div>
        <ul class="books-list"></ul>
      </div>
      <button class="books-load-more books-hidden" type="button">
        Show More
      </button>
    </div>
  </div>
</section>
