<section class="feedbacks container" tabindex="0" id="feedbacks">
  <div class="feedbacks-div-title">
    <h2 class="feedbacks-title-main">Customer Feedbacks</h2>
    <p class="feedbacks-title-litle">
      See what our readers are saying about us!
    </p>
  </div>
  <div class="swiper swiper-div">
    <ul class="swiper-wrapper ul-swiper-wrapper">
      <!-- Slides -->
      <!-- 1   -->
      <li class="swiper-slide feedbacks-item">
        <div class="container-comments">
          <p class="feedbacks-comments">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="user-info">
            <img
              class="feedbacks-comments-img"
              src="/img/feedbacks/face1.jpg"
              alt="face"
              srcset="
                /img/feedbacks/face1.jpg    1x,
                /img/feedbacks/face1_2х.jpg 2x
              "
            />
            <div class="user-details">
              <h4 class="feedbacks-comments-name">Ethan Brooks</h4>
              <p class="feedbacks-comments-description">Book Lover, Reader</p>
            </div>
          </div>
        </div>
      </li>
      <!-- 2   -->
      <li class="swiper-slide feedbacks-item">
        <p class="feedbacks-comments">
          Always a pleasure ordering here! The books arrive quickly and are
          always in perfect condition. A reader&apos;s dream!
        </p>
        <div class="user-info">
          <img
            class="feedbacks-comments-img"
            src="/img/feedbacks/face2.jpg"
            alt="face"
            srcset="/img/feedbacks/face2.jpg 1x, /img/feedbacks/face2_2х.jpg 2x"
          />
          <div class="user-details">
            <h4 class="feedbacks-comments-name">Benjamin Scott</h4>
            <p class="feedbacks-comments-description">Story Seeker, Reader</p>
          </div>
        </div>
      </li>
      <!-- 3   -->
      <li class="swiper-slide feedbacks-item">
        <div class="container-comments">
          <p class="feedbacks-comments">
            Excellent service and amazing collection. I always find something
            new and exciting to read. Highly recommended!
          </p>
          <div class="user-info">
            <img
              class="feedbacks-comments-img"
              src="/img/feedbacks/face3.jpg"
              alt="face"
              srcset="
                /img/feedbacks/face3.jpg    1x,
                /img/feedbacks/face3_2х.jpg 2x
              "
            />
            <div class="user-details">
              <h4 class="feedbacks-comments-name">Lucas Reed</h4>
              <p class="feedbacks-comments-description">Word Whisperer</p>
            </div>
          </div>
        </div>
      </li>
      <!-- 4   -->
      <li class="swiper-slide feedbacks-item">
        <div class="container-comments">
          <p class="feedbacks-comments">
            Fantastic store! The packaging is so thoughtful, and every order
            feels like opening a gift.
          </p>
          <div class="user-info">
            <img
              class="feedbacks-comments-img"
              src="/img/feedbacks/face4.jpg"
              alt="face"
              srcset="
                /img/feedbacks/face4.jpg    1x,
                /img/feedbacks/face4_2х.jpg 2x
              "
            />
            <div class="user-details">
              <h4 class="feedbacks-comments-name">Noah Bennett</h4>
              <p class="feedbacks-comments-description">Literary Soul</p>
            </div>
          </div>
        </div>
      </li>
      <!-- 5   -->
      <li class="swiper-slide feedbacks-item">
        <div class="container-comments">
          <p class="feedbacks-comments">
            Love this bookstore! Great prices, fast shipping, and the books
            always look brand new.
          </p>
          <div class="user-info">
            <img
              class="feedbacks-comments-img"
              src="/img/feedbacks/face5.jpg"
              alt="face"
              srcset="
                /img/feedbacks/face5.jpg    1x,
                /img/feedbacks/face5_2х.jpg 2x
              "
            />
            <div class="user-details">
              <h4 class="feedbacks-comments-name">Daniel Carter</h4>
              <p class="feedbacks-comments-description">Editor, BookMag</p>
            </div>
          </div>
        </div>
      </li>
      <!--6   -->
      <li class="swiper-slide feedbacks-item">
        <div class="container-comments">
          <p class="feedbacks-comments">
            Impressive quality and care. My orders arrive on time and
            beautifully packed every single time.
          </p>
          <div class="user-info">
            <img
              class="feedbacks-comments-img"
              src="/img/feedbacks/face6.jpg"
              alt="face"
              srcset="
                /img/feedbacks/face6.jpg    1x,
                /img/feedbacks/face6_2х.jpg 2x
              "
            />
            <div class="user-details">
              <h4 class="feedbacks-comments-name">Henry Adams</h4>
              <p class="feedbacks-comments-description">Editor</p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="slider-controls">
      <div class="swiper-pagination slider-pagination"></div>
      <div class="slider-buttons-box">
        <div
          class="slider-button feedbacks-button-prev"
          aria-label="previous slide"
        >
          <svg class="icon-arrow-left arrow" width="14" height="14">
            <use href="/img/sprite-opt.svg#icon-left-arrow"></use>
          </svg>
        </div>
        <div
          class="slider-button feedbacks-button-next"
          aria-label="next slide"
        >
          <svg class="icon-arrow-right arrow" width="14" height="14">
            <use href="/img/sprite-opt.svg#icon-right-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
