<header class="header">
  <header class="header" id="home">
    <div class="container header-container">
      <nav class="header-nav">
        <a class="header-logo" href="./index.html">
          <img
            class="icon-logo"
            src="/img/company-logo.svg"
            alt="Логотип сайту"
          />
        </a>

        <ul class="header-list">
          <li class="header-item">
            <a class="header-link" href="#home">Home</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#books">Books</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#feedbacks">Feedbacks</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#events">Events</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#location">Location</a>
          </li>
        </ul>
      </nav>

      <button class="menu-btn open-menu" type="button" aria-label="Open menu">
        <svg class="icon-burger" width="24" height="24">
          <use href="/img/sprite-opt.svg#icon-menu-alt-right"></use>
        </svg>
      </button>
    </div>

    <div class="mob-menu">
      <div class="container mob-menu-div">
        <div class="mob-menu-logo">
          <a class="header-logo" href="./index.html">
            <img
              class="icon-logo"
              src="/img/company-logo.svg"
              alt="Логотип сайту"
            />
          </a>
          <button
            class="btn-close close-menu"
            type="button"
            aria-label="Close menu"
          >
            <svg class="icon-close" width="12" height="12">
              <use href="/img/sprite-opt.svg#icon-cross"></use>
            </svg>
          </button>
        </div>

        <nav class="mob-menu-nav">
          <ul class="mob-menu-list">
            <li class="mob-header-item">
              <a class="header-link-menu menu-link" href="#home">Home</a>
            </li>
            <li class="mob-header-item">
              <a class="header-link-menu menu-link" href="#books">Books</a>
            </li>
            <li class="mob-header-item">
              <a class="header-link-menu menu-link" href="#feedbacks"
                >Feedbacks</a
              >
            </li>
            <li class="mob-header-item">
              <a class="header-link-menu menu-link" href="#events">Events</a>
            </li>
            <li class="mob-header-item">
              <a class="header-link-menu menu-link" href="#location"
                >Location</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</header>
