<section class="hero hero-section">
  <!-- убрать контейнер с секции и повесить на hero-inner -->
  <div class="hero-inner container">
    <!-- додати aria-live="polite" aria-roledescription="carousel" -->
    <div
      class="swiper hero-slider"
      aria-live="polite"
      aria-roledescription="carousel"
    >
      <!-- додати role="list" -->
      <ul class="swiper-wrapper hero-slider-wrapper" role="list">
        <!-- додати  role="group" aria-label="Slide 1 of 4"-->
        <li class="swiper-slide" role="group" aria-label="Slide 1 of 4">
          <div class="swiper-slide-wrapper">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-desktop-1@1x.webp 1x,
                  /img/hero/banner-desktop-1@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-desktop-1.jpg    1x,
                  /img/hero/banner-desktop-1@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-tablet-1@1x.webp 1x,
                  /img/hero/banner-tablet-1@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-tablet-1.jpg    1x,
                  /img/hero/banner-tablet-1@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-mobile-1@1x.webp 1x,
                  /img/hero/banner-mobile-1@2x.webp 2x
                "
                media="(min-width: 320px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-mobile-1.jpg    1x,
                  /img/hero/banner-mobile-1@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <!-- замінити значення alt -->
              <img
                class="hero-slider-img"
                src="/img/hero/banner-desktop-1.jpg"
                alt="Get 10% off your first order"
                width="1312"
                height="395"
                loading="lazy"
              />
            </picture>
            <div class="hero-slider-content">
              <p class="hero-slider-text">
                Get 10% off <br />
                your first order
              </p>
              <!-- додати aria-label="Go to the books section" -->
              <a
                class="hero-slider-link"
                href="#books"
                aria-label="Go to the books section"
                >Shop Now!</a
              >
            </div>
          </div>
        </li>
        <!-- додати  role="group" aria-label="Slide 2 of 4"-->
        <li class="swiper-slide" role="group" aria-label="Slide 2 of 4">
          <div class="swiper-slide-wrapper">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-desktop-2@1x.webp 1x,
                  /img/hero/banner-desktop-2@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-desktop-2.jpg    1x,
                  /img/hero/banner-desktop-2@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-tablet-2@1x.webp 1x,
                  /img/hero/banner-tablet-2@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-tablet-2.jpg    1x,
                  /img/hero/banner-tablet-2@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-mobile-2@1x.webp 1x,
                  /img/hero/banner-mobile-2@2x.webp 2x
                "
                media="(min-width: 320px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-mobile-2.jpg    1x,
                  /img/hero/banner-mobile-2@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <!-- замінити значення alt -->
              <img
                class="hero-slider-img"
                src="/img/hero/banner-desktop-2.jpg"
                alt="Save 15% on some books"
                width="1312"
                height="395"
                loading="lazy"
              />
            </picture>
            <div class="hero-slider-content">
              <p class="hero-slider-text">
                Save 15% <br />
                on some books
              </p>
              <!-- додати aria-label="Go to the books section" -->
              <a
                class="hero-slider-link"
                href="#books"
                aria-label="Go to the books section"
                >Shop Now!</a
              >
            </div>
          </div>
        </li>
        <!-- додати  role="group" aria-label="Slide 3 of 4"-->
        <li class="swiper-slide" role="group" aria-label="Slide 3 of 4">
          <div class="swiper-slide-wrapper">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-desktop-3@1x.webp 1x,
                  /img/hero/banner-desktop-3@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-desktop-3.jpg    1x,
                  /img/hero/banner-desktop-3@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-tablet-3@1x.webp 1x,
                  /img/hero/banner-tablet-3@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-tablet-3.jpg    1x,
                  /img/hero/banner-tablet-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-mobile-3@1x.webp 1x,
                  /img/hero/banner-mobile-3@2x.webp 2x
                "
                media="(min-width: 320px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-mobile-3.jpg    1x,
                  /img/hero/banner-mobile-3@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <!-- замінити значення alt -->
              <img
                class="hero-slider-img"
                src="/img/hero/banner-desktop-3.jpg"
                alt="Summer Sale! Up to -40% discounts"
                width="1312"
                height="395"
                loading="lazy"
              />
            </picture>
            <div class="hero-slider-content">
              <p class="hero-slider-text">
                Summer Sale! <br />
                Up to -40% discounts
              </p>
              <!-- додати aria-label="Go to the books section" -->
              <a
                class="hero-slider-link"
                href="#books"
                aria-label="Go to the books section"
                >Shop Now!</a
              >
            </div>
          </div>
        </li>
        <!-- додати  role="group" aria-label="Slide 4 of 4"-->
        <li class="swiper-slide" role="group" aria-label="Slide 4 of 4">
          <div class="swiper-slide-wrapper">
            <picture>
              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-desktop-4@1x.webp 1x,
                  /img/hero/banner-desktop-4@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-desktop-4.jpg    1x,
                  /img/hero/banner-desktop-4@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-tablet-4@1x.webp 1x,
                  /img/hero/banner-tablet-4@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-tablet-4.jpg    1x,
                  /img/hero/banner-tablet-4@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                type="image/webp"
                srcset="
                  /img/hero/banner-mobile-4@1x.webp 1x,
                  /img/hero/banner-mobile-4@2x.webp 2x
                "
                media="(min-width: 320px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/hero/banner-mobile-4.jpg    1x,
                  /img/hero/banner-mobile-4@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <!-- замінити значення alt -->
              <img
                class="hero-slider-img"
                src="/img/hero/banner-desktop-4.jpg"
                alt="Last chance to buy our spring bestsellers"
                width="1312"
                height="395"
                loading="lazy"
              />
            </picture>
            <div class="hero-slider-content">
              <p class="hero-slider-text">
                Last chance to buy our spring bestsellers
              </p>
              <!-- додати aria-label="Go to the books section" -->
              <a
                class="hero-slider-link"
                href="#books"
                aria-label="Go to the books section"
                >Shop Now!</a
              >
            </div>
          </div>
        </li>
      </ul>

      <div class="hero-footer">
        <div class="hero-slider-buttons slider-buttons-box">
          <div
            class="slider-button hero-button-prev"
            aria-label="previous slide"
          >
            <svg class="icon-arrow-left" width="14" height="14">
              <use href="/img/sprite-opt.svg#icon-left-arrow"></use>
            </svg>
          </div>
          <div class="slider-button hero-button-next" aria-label="next slide">
            <svg class="icon-arrow-right" width="14" height="14">
              <use href="/img/sprite-opt.svg#icon-right-arrow"></use>
            </svg>
          </div>
        </div>
        <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
      </div>

      <!-- <div class="hero-slider-buttons slider-buttons-box">
        <div class="slider-button hero-button-prev" aria-label="previous slide">
          <svg class="icon-arrow-left" width="14" height="14">
            <use href="/img/sprite-opt.svg#icon-left-arrow"></use>
          </svg>
        </div>
        <div class="slider-button hero-button-next" aria-label="next slide">
          <svg class="icon-arrow-right" width="14" height="14">
            <use href="/img/sprite-opt.svg#icon-right-arrow"></use>
          </svg>
        </div>
      </div> -->
    </div>
    <!-- <h1 class="hero-title">Discover Your Next Great Read Today!</h1> -->
  </div>
</section>
