.events {
  padding: 64px 0px;
}

.events .container {
  max-width: 343px;
  margin: 0 auto;
}

.events-label {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.events-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}

.events-text {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
}

.events-text-info {
  margin-bottom: 8px;
}

/* Image styles */

.events-image {
  border-radius: 16px;
  width: 421px;
  height: 277px;
  object-fit: cover;
  margin-bottom: 24px;
}

.events-swiper {
  position: relative;
}

.event-item {
  background: #fceee6;
}

.event-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.event-format {
  font-size: 16px;
  color: #0b0500;
  margin-bottom: 8px;
}

.event-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.event-info-wrraper {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 1.5;
  align-items: center;
}

.event-btn-icon {
  width: 8px;
  height: 12px;
  fill: currentColor;
}

/* Swiper */

.events-list {
  margin-bottom: 32px;
}

/* .event-controls {
  display: flex;
  justify-content: space-between; 
  align-items: center;

} */

/* .btn-orange {
  border-radius: 0px;
} */

/* .swiper-svg-button-prev,
.swiper-svg-button-next {
  fill: #fff;
  align-items: center;
  justify-content: center;
} */

.events .swiper .swiper-pagination {
  position: static;
  transform: none;
  width: auto;
  margin: 0;
}

/* .swiper .swiper-pagination :first-child {
  margin-left: 0;
}

.swiper .swiper-pagination :last-child {
  margin-right: 0;
} */

/* .swiper-container {
  margin-top: 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .swiper-btn-subbox {
  display: flex;
  gap: 12px;
  z-index: 10; 
} */

/* .swiper-pagination > .swiper-pagination-bullet {
  transition: opacity 0.3s ease;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #080c09;
  opacity: 1;
} */

/* .swiper-button-prev,
.swiper-button-next {
  background-color: #e15d05;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease, background-color 0.3s ease, fill 0.3s ease,
    opacity 0.3s ease;
  border: 1px solid rgba(11, 5, 0, 0.15);
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  border: none;
  background: #fceee6;
  fill: #0b0500;
  border: 1px solid rgba(11, 5, 0, 0.15);
  outline: none;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  border: none;
  background: #5a2502;
  fill: #ffffff;
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
  cursor: default;
  pointer-events: none;
  background: #e15d05;
  fill: rgba(11, 5, 0, 0.3);
  opacity: 0.2;
} */

/* .events-btn-icon-corner {
  width: 24px;
  height: 24px;
} */

/* .icon-arrow-left,
.icon-arrow-right {
  fill: currentColor;
}

.events-slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #0b0500;
  border: 1px solid rgba(11, 5, 0, 0.15);
  background-color: #e15d05;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease,
    opacity 0.2s ease;
}

.events-slider-button:hover,
.events-slider-button:focus {
  background-color: #fceee6;
  outline: none;
}

.events-slider-button:active {
  color: #fff;
  background-color: #5a2502;
} */

/* Tablet */
@media (min-width: 768px) {
  .events .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .events-title {
    font-size: 36px;
  }

  .events-button-prev,
  .events-button-next {
    bottom: 8px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .events .container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .events-title {
    font-size: 48px;
  }

  .events-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .events-button-prev,
  .events-button-next {
    bottom: 0;
    display: none;
  }
}
